@use '../styles/variables';

$hover-bkg-color: variables.$theme-light;
$hover-color: variables.$foreground-color;

@mixin background-properties {
    background-size: 0 0;
    background-repeat: no-repeat;
    background-position: center;
}

.outerContainer {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 0;
  transition: background-color 0.3s ease-out;
  .headerLink {
      color: variables.$background-color;
      transition: color 0.3s ease-out;
  }

  .button {
    border: 1px solid;
    border-radius: 0.3vw;
    padding: 0.5vw 1.5vw;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    user-select: none;
    color: variables.$background-color;
    border-color: variables.$background-color;

    @include background-properties;
    background-image: radial-gradient($hover-bkg-color 0%, $hover-bkg-color 50%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
    transition: background-size 0.4s ease-out, color 0.3s, border-color 0.3s;

    &:hover {
        background-size: 1000px 1000px;
        border-color: $hover-bkg-color;
        color: $hover-color
    }

    &:active {
        filter: brightness(0.75);
    }
  }
}

.solidBackground {
    background-color: variables.$background-color;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.5);
    .headerLink {
        color: variables.$foreground-color;
    }

    .button {
        color: variables.$foreground-color;
        border-color: variables.$foreground-color;
    }

    li {
        &:hover {
            background-color: rgba(variables.$foreground-color, 0.3) !important;
            &.navButton {
                background: none;
            }
        }
    }
}

.noShadow {
    box-shadow: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: variables.$navbar-height;
  width: 100%;
  padding: 0 20px;
  font-weight: 300;

  li {
    display: inline-block;
    margin-left: 2.3vw;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    user-select: none;

    &:hover {
        background-color: rgba(variables.$background-color, 0.3);
        &.navButton {
            background: none;
        }
    }

    &.navButton {
        padding: 0;
    }
  }
}

.activeLink {
    background-color: rgba(variables.$theme-light, 0.7);
}

.image {
  display: inline-block;
  margin-right: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  img {
    height: calc(variables.$navbar-height + 29px) !important;
  }
}

.dropdownButton {
    display: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 1.25rem;

    span {
        font-size: variables.$navbar-mobile-height;
    }
}

.dropdownIcon {
    transform: rotate(180deg);
    opacity: 0;
    user-select: none;
    transition: transform 0.5s, opacity 0.5s;
    position: absolute;

    &.activeIcon {
        transform: none;
        opacity: 1;
    }
}

.dropdownMenu {
    background-color: variables.$background-color;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    margin: 0;
    top: -100%;
    transition: top 0.5s ease-out;
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-top: calc(-1 * variables.$navbar-mobile-total-height);
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.5);
    gap: 20px;
    touch-action: none;

    &.menuOpen {
        top: calc(variables.$navbar-mobile-height + 20px);
    }

    li {
        user-select: none;
        cursor: pointer;
        &:active {
            color: variables.$theme-light;
        }
    }
}

@media screen and (max-width: 992px) {
    .linksList {
        display: none !important;
    }
    
    .dropdownButton {
        display: flex !important;
    }

    .image {
        left: 0;

        img {
            height: calc(variables.$navbar-mobile-height + 20px) !important;
        }
    }

    .container {
        height: variables.$navbar-mobile-height !important;
    }

    .outerContainer {
        background-color: variables.$background-color;
        box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.5);
    }

    .dropdownMenu {
        display: flex;
    }
}

li.highlightColor {
    color: variables.$highlight-color;
    &:active {
        color: variables.$foreground-color;
    }
}
