@use '../styles/variables';

@media screen and (max-width: 992px) {
    .swiperSlide {
        padding-left: calc(20px + 12vw) !important;
        padding-right: calc(20px + 12vw) !important;
    }
}

.swiper {
    width: 50vw;
    height: 300px;
    background-color: variables.$background-color;
    border-radius: 50px;
    outline: 4px solid variables.$foreground-color;
    outline-offset: 8px;
}

.swiperSlide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 75px;
    text-align: center;
}

.reviewAuthor {
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: 500;
}

.stars {
    color: gold;
    letter-spacing: 1500px;
    margin-bottom: 10px;
    font-variation-settings: 'FILL' 1.0;
}

@media screen and (max-width: 992px) {
    .swiper {
        width: 100%;
        outline: none;
        border-radius: 0;
        height: 50vh;
        background-color: variables.$theme-dark;
    }
}
