// $foreground-color: #F5F5F5;
// $background-color: #1d2d5b;
// $highlight-color: #f26838;
// $theme-light: #aaabaf;
// $theme-dark: #2a6f8e;

$foreground-color: #0e1e37;
$background-color: #F5F5F5;
$highlight-color: #ff811b;
$theme-light: #b3e1c7;
$theme-dark: #82d6c6;

$navbar-height: 80px;
$navbar-mobile-height: 40px;
$navbar-total-height: calc($navbar-height + 20px);
$navbar-mobile-total-height: calc($navbar-mobile-height + 20px);