$foreground-color: #F5F5F5;
$background-color: #1d2d5b;
$highlight-color: #f26838;
$theme-light: #aaabaf;
$theme-dark: #2a6f8e;

$navbar-height: 80px;
$navbar-mobile-height: 40px;
$navbar-total-height: calc($navbar-height + 22px);
$navbar-mobile-total-height: calc($navbar-mobile-height + 22px);