@use '../styles/variables';

@media screen and (max-width: 992px) {
    .banner {
        margin-right: -100px !important;
        font-size: 3.5vh !important;
        width: 75% !important;
        p {
            text-shadow: 0 0 15px black;
            font-size: 15px !important;
        }
    }

    .reviewContainer {
        display: block !important;
    }

    .mobileReviewTitle {
        display: block !important;
    }

    .reviewTitle {
        display: none;
    }

    .mainContainer {
        position: relative !important;
        width: 100%;
    }
    .keyPoints h1 {
        font-size: calc(10px + 3vw) !important;
        transform: none !important;
        padding-left: 20px;
        padding-right: 20px;
    }
    .keyPoint {
        transform: none !important;
        transition: opacity 0.6s ease-out !important;
        &.middle {
            transition-delay: 0.5s !important;
        }
        &.right {
            transition-delay: 1s !important;
        }
    }
    .keyPointsList {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0 50px !important;
        margin-bottom: 30px;
        li {
            flex: none !important;
            max-width: none !important;
        }
        .keyPointsTitle {
            margin: 5px 0;
            font-size: 20px;
        }
    }

    .moreReviewsButton {
        margin-top: 0 !important;
    }

    .keyPointsText {
        font-size: 17px;
    }
    .prompt {
        font-size: 24px !important;
        padding: 0 50px;
    }
    .promptButtons {
        flex-direction: column;
        align-items: center;
        font-size: 18px;
    }
    .smallText {
        font-size: 18px;
    }
    .programsBox {
        flex-direction: column !important;
        align-items: center !important;
        padding: 0;
    }
}

@media screen and (max-width: 700px) {
    .heroContainer {
        display: none;
    }
    .mobileHeroContainer {
        display: block !important;
        width: 100vw;
        height: calc(60vh + 30vw);
    }

    .banner {
        margin-right: 0 !important;
    }
}

.mainContainer {
    background-color: variables.$background-color;
    z-index: 4;
    position: relative;
    top: -7vw;
    padding-top: 1px;
}

.bkgImage {
    filter: blur(20px) brightness(50%);
    transition: filter 0.5s;
}

.bkgVisible {
    filter: blur(0) brightness(50%);
}

.bannerContainer {
    width: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    top: 40%;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
}

.mobileReviewTitle {
    margin-bottom: 0px;
    display: none;
}

.mobileBannerContainer {
    width: 100%;
    position: absolute;
    top: calc(45vh);
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.mobileBkgImage {
    filter: brightness(75%);
    object-fit: cover;
}

.banner {
    text-align: center;
    font-weight: 500;
    width: 50vw;
    margin-right: 3vw;
    color: variables.$background-color;
    padding: 30px;
    
    p {
        margin: 0;
        font-size: calc(1.2vw + 0.4em);
    }

    b {
        font-size: calc(2vw + 1.2em);
    } 
}

.moreReviewsButton {
    margin-top: 40px;
}

.heroContainer {
    position: relative;
    top: calc(-1 * (450px - 20vw));
}

.mobileHeroContainer {
    display: none;
}

.heroButton {
    font-size: 2.2vw;
    font-weight: 300;
    background-color: variables.$theme-light;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 30px;
}

.keyPoints {
    text-align: center;

    h1 {
        font-size: 3vw;
        font-weight: 600;
        transform: skew(-15deg, 0);
    }
}

.keyPointsList {
    display: flex;
    padding: 0 0 40px 0;
    justify-content: space-evenly;

    li {
        flex: 1 1 0px;
        max-width: 25vw;

        span {
            font-size: 42px;
        }
    }
}

.keyPointsTitle {
    font-size: 24px;
    margin: 10px 0;
}

.prompt {
    font-size: 1.8vw;
    font-weight: 400;
}

.promptButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin-top: 20px;
    padding-bottom: 40px;
}

.keyPoint {
    opacity: 0;
    transition: opacity 0.3s ease-out, transform 0.6s ease-out;
    will-change: opacity;
}

.left {
    transform: translateX(-20vw);
}
    
.middle {
    transform: translateY(20vh);
}

.right {
    transform: translateX(20vw);
}

.isVisible {
    opacity: 1;
    transform: none;
}

.reviewContainer {
    background-color: variables.$theme-dark;
    padding: 40px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;

    .reviewTitle {
        flex: 1;
    }

    img {
        width: 100%;
        border-radius: 20px;
    }
}

.reviewImageContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;

    span {
        flex: 1;
    }
}

.programsBox {
    display: flex;
    padding: 40px;
    padding-top: 30px;
    justify-content: center;
    gap: 40px;
}

.programsContainer {
    text-align: center;
    
    h1 {
        margin-top: 30px;
        margin-bottom: 7px;
    }
}