@use '../styles/variables';

.heroImage {
    img {
        filter: brightness(70%);
    }
    position: relative;
    top: calc(-200px + 20vw - 30vh);
}

.heroContainer {
    width: 100%;
}

.container {
    overflow: hidden;
}

.heroBanner {
    position: absolute;
    top: calc(-50px + 18vw);
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 40px;
    color: variables.$background-color;
    h1 {
        font-size: 38px;
        margin-bottom: 5px;
    }
    text-align: center;
    opacity: 0;
    transition: opacity 0.6s ease-out;
}

.bannerVisible {
    opacity: 1;
    h4:after {
        transform: scaleX(1) !important;
    }
}

.heroBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    margin-top: 30px;

    div {
        background-color: variables.$background-color;
        text-align: left;
        width: 250px;
        border-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;

        h2 {
            text-align: center;
        }

        h4 {
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    .heroTablet {
        background-color: variables.$theme-dark;
        color: variables.$background-color;
    }
}

.programList {
    margin-top: 40px;
    > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-bottom: 10px;
    }
}

.programBox {
    background-color: rgba(variables.$theme-dark, 0.5);
    color: variables.$background-color;
    flex: 1;
    padding: 0px 10px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid variables.$background-color;
    cursor: pointer;
    user-select: none;
    h4 {
        display: inline-block;
        margin-bottom: 0;
        &:after {
            content: '';
            display: block;
            border-bottom: 1px solid variables.$foreground-color;
            transition: transform 1s ease-out;
            margin-top: 5px;
            transform: scaleX(0);
        }
    }

    &:hover {
        background-color: variables.$theme-dark;
    }

    &:active {
        filter: brightness(75%);
    }
}

.checkList {
    margin-top: 10px;
    margin-left: 15px;
    li:before {
        content: "\2713\0020";
    }
    color: lightgreen;
}

.badList {
    li:before {
        content: "\2715\0020";
    }
    color: orangered;
}

.mainContainer {
    position: relative;
    top: calc(-3.5vw);
    background-color: variables.$background-color;
    padding-top: 1px;
}

.lastSection {
    padding-bottom: 0 !important;
}

.sectionBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 150px;

    h1 {
        scroll-margin-top: calc(variables.$navbar-total-height + 40px);
    }
}

.sectionTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-repeat: no-repeat;
    font-size: 20px;
    transform: translateX(-300px);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    li {
        display: table-row;
    }
    li:before {
        display: table-cell;
        padding-right: 5px;
        content: "\2713\0020";
    }
    ul {
        margin-left: 200px;
        background-color: variables.$theme-dark;
        padding: 100px 30px;
        position: relative;
        color: variables.$background-color;
        top: -80px;
        max-width: 400px;
        border-radius: 5px;
    }
    h1 {
        border: 2px solid variables.$foreground-color;
        padding: 10px;
        position: relative;
        z-index: 2;
        top: 20px;
        background-color: variables.$background-color;
    }
}

.sectionBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -20px;
    padding: 40px;
    padding-right: 40px;
    max-width: 40vw;
    transform: translateX(300px);
    opacity: 0;
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
    margin-right: 100px;
}

.contentVisible {
    opacity: 1;
    transform: none !important;
}

.offColorSection {
    background-color: variables.$theme-dark;
    padding-top: 180px;
    color: variables.$background-color;

    h1 {
        background-color: variables.$theme-dark;
    }

    ul {
        background-color: variables.$background-color;
        color: variables.$foreground-color;
    }

    .sectionTitle {
        h1 {
            border: 2px solid variables.$background-color;
        }
    }
}

.section3 {
    padding-top: 180px;
}

.imageRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 100%;
    margin-top: -125px;
}

.storyImage {
    max-width: 350px;
    transform: rotate(-5deg);

    span {
        box-shadow: 0 0 15px 0 black;
    }

    img {
        border-color: variables.$background-color !important;
        border-style: solid !important;
        border-width: 10px !important;
    }
}

.heroContainerMobile {
    margin-top: variables.$navbar-mobile-total-height;
    padding-top: 20px;
    text-align: center;
    background-color: variables.$theme-dark;
    color: variables.$background-color;
    padding-bottom: 20px;
    display: none;
}

.retrograde {
    transform: rotate(5deg);
}

.faqConsult {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 992px) {
    .heroContainer {
        display: none;
    }

    .heroContainerMobile {
        display: block;
    }

    .mainContainer {
        top: 0;
        padding-top: 20px;
        >h1 {
            font-size: 1.5em;
        }
    }

    .programList {
        margin-top: 20px;
    }

    .faqConsult {
        position: relative;
    }

    .contactPrompt {
        position: relative;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 900px) {

    .mainContainer {
        >h1 {
            margin-bottom: 0;
        }
    }

    .sectionBox {
        flex-direction: column;
        position: relative;
        top: -60px;
    }

    .sectionTitle {
        background-color: transparent;
        h1 {
            top: 80px;
            background-color: variables.$background-color !important;
            color: variables.$foreground-color;
            border: 2px solid variables.$foreground-color !important;
        }
        ul {
            margin-left: 0;
            padding-bottom: 50px;
            margin-bottom: 0;
            padding-top: 70px;
            top: 0;
            background-color: variables.$theme-dark !important;
            color: variables.$background-color;
        }
    }

    .sectionBody {
        max-width: none;
        margin-right: 0;
        padding-top: 20px;
        padding-bottom: 50px;
        background-color: variables.$background-color !important;
    }

    .offColorSection {
        padding-top: 0;
        background-color: variables.$background-color !important;
        color: variables.$foreground-color !important;
    }

    .section3 {
        padding-top: 0;
    }

    .imageRow {
        position: relative;
        margin-top: -230px;
        z-index: 10;
    }

    .mainContainer {
        padding-top: 40px;
        margin-bottom: -50px;
    }

    .heroBox {
        position: relative;
        top: -100px;
    }

    .faqConsult {
        position: relative;
        top: -100px;
    }

    .contactPrompt {
        position: relative;
        top: -80px;
    }
}

@media screen and (max-width: 600px) {
    .programList {
        >div {
            flex-direction: column;
            align-items: center;
        }
    }

    .heroBox {
        position: relative;
        top: -130px;
        flex-direction: column;
        align-items: center;
        background-color: variables.$theme-dark;
        color: variables.$background-color;
        padding-bottom: 40px;
        padding-top: 20px;

        h1 {
            text-align: center;
            margin-bottom: 0;
        }

        >:first-child {
            background-color: transparent !important;
            width: 100% !important;
        }
    }

    .faqConsult {
        position: relative;
        top: -150px;
        flex-direction: column;
    }

    .contactPrompt {
        position: relative;
        top: -120px;
    }
}